@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@import url(normalize.css);
@import url(header.css);
@import url(intro.css);
@import url(discover.css);
@import url(news.css);
@import url(footer.css);

:root {
  --base-white: #fff;
  --base-black: #000;
  --text-body: #414840;
  --primary: #475f45;
  --header: #343d33;
  --news-block: #C4C4C4;
}

.body-wrapper, .footer {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.body-wrapper .main, .footer .contacts{
  margin: 0 16px;
}

@media screen and (min-width: 992px) {
  .body-wrapper .main, .footer .contacts {
    margin: 0 50px;
  }
}

@media screen and (min-width: 1140px) {
  .body-wrapper .main, .footer .contacts {
    margin: 0 100px;
  }
}