@media screen and (min-width: 375px) {
  .header {
    .container {
      position: relative;
      .navbar {
        min-height: 80px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .logo {
          max-width: 215px;
          height: auto;
          object-fit: cover;
          object-position: center;
          margin: 15px;
        }
        .nav-links {
          min-height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          transform: translateY(-100%);
          background-color: var(--primary);
          z-index: 10;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1.2fr 7fr;
          justify-content: space-between;
          justify-items: center;
          align-items: center;
          padding-inline-start: 0px;
          &.active {
            transform: translateX(0%);
          }
          .hide-menu {
            grid-column: 1/2;
            grid-row: 1/2;
            display: block;
            font-family: "Libre Baskerville", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 37px;
            color: #fff;
          }
          .home {
            grid-column: 1/2;
            grid-row: 2/3;
          }
          .visit {
            grid-column: 1/2;
            grid-row: 3/4;
          }
          .exhibitions {
            grid-column: 1/2;
            grid-row: 4/5;
          }
          .programs {
            grid-column: 1/2;
            grid-row: 5/6;
          }
          .store {
            grid-column: 1/2;
            grid-row: 6/7;
          }
          .membership {
            grid-column: 1/2;
            grid-row: 7/8;
            cursor: pointer;
          }
          li {
            list-style-type: none;
            a {
              text-decoration: none;
              color: var(--base-white);
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.15em;
              text-transform: uppercase;
              position: relative;
              &::after {
                position: absolute;
                content: "";
                background-color: #fff;
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 2px;
                transition: 0.3s ease all;
              }
              &:hover::after {
                width: 100%;
              }
            }
          }
          button {
            width: 169px;
            height: 46px;
            cursor: pointer;
            border: 2px solid var(--base-white);
            color: #fff;
            background-color: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
        .nav-links::before {
          content: "";
          background-image: url("../img/leaf.svg");
          background-repeat: no-repeat;
          background-position: 100% 100%;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
        }
        .brgr-btn {
          display: block;
          z-index: 50;
          position: relative;
          cursor: pointer;
          svg {
            position: absolute;
            top: -30px;
            right: 5px;
            width: 60px;
            height: 60px;
          }
          .burger {
            filter: url(#gooeyness);
          }
          .x {
            transform: scale(0);
            transition: transform 400ms;
          }
          .line {
            fill: none;
            stroke: black;
            stroke-width: 6px;
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 50%;
            transition: stroke-dasharray 500ms 200ms,
              stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
          }
          .x .line {
            stroke-width: 5.5px;
            stroke: white;
            opacity: 0.8;
          }

          .active .line {
            transition: stroke-dasharray 500ms, stroke-dashoffset 500ms,
              transform 500ms;
          }

          .active .x {
            transform: scale(1);
            transition: transform 400ms 350ms;
          }

          .plate5 .line {
            transition: stroke-dasharray 400ms 100ms,
              stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
          }
          .plate5 .line1 {
            stroke-dasharray: 40 40;
          }
          .plate5 .line2 {
            stroke-dasharray: 21 39;
          }
          .plate5 .line3 {
            stroke-dasharray: 21 39;
          }
          .plate5 .line4 {
            stroke-dasharray: 40 40;
          }
          .plate5 .x {
            transition: transform 400ms 50ms;
          }

          .active.plate5 .line {
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms,
              transform 400ms;
          }
          .active.plate5 .line1 {
            stroke-dasharray: 1 40;
            stroke-dashoffset: -33px;
          }
          .active.plate5 .line2 {
            stroke-dasharray: 5 39;
            stroke-dashoffset: -37px;
          }
          .active.plate5 .line3 {
            stroke-dasharray: 5 39;
            stroke-dashoffset: -37px;
          }
          .active.plate5 .line4 {
            stroke-dasharray: 1 40;
            stroke-dashoffset: -33px;
          }
          .active.plate5 .x {
            transition: transform 400ms 50ms;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 744px) {
  .header {
    .container {
      .navbar {
        .nav-links {
          .hide-menu {
            font-size: 34px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .header {
    .container {
      .navbar {
        margin: 0 50px;
        .logo {
          max-width: 263px;
          margin: 15px 0;
        }
        .nav-links {
          min-height: 0;
          width: 70%;
          transform: translateY(0);
          background-color: inherit;
          position: relative;
          grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 10px;
          .hide-menu {
            display: none;
          }
          .home {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          .visit {
            grid-column: 2/3;
            grid-row: 1/2;
          }
          .exhibitions {
            grid-column: 3/4;
            grid-row: 1/2;
          }
          .programs {
            grid-column: 4/5;
            grid-row: 1/2;
            text-align: center;
          }
          .store {
            grid-column: 5/6;
            grid-row: 1/2;
          }
          .membership {
            grid-column: 6/7;
            grid-row: 1/2;
          }
          li {
            a {
              color: var(--text-body);
              &::after {
                position: absolute;
                content: "";
                background-color: var(--text-body);
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 2px;
                transition: 0.3s ease all;
              }
              &:hover::after {
                width: 100%;
              }
            }
          }
          button {
            border: 2px solid var(--primary);
            color: var(--primary);
          }
        }
        .nav-links::before {
          display: none;
        }
        .brgr-btn {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1140px) {
  .header {
    .container {
      .navbar {
        margin: 0 100px;
      }
    }
  }
}
